# Dependency directories
node_modules/

# Vite build files
dist/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local